// Place all the styles related to the answer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.send-answer{
  position: absolute;
  bottom: 3px;
  right: 110px;
}
.question-text{
  word-break: break-word;
}