/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*= require flexslider
 */
@font-face {
    font-family: Lato;
    src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
}

body {
    background-image: url("/assets/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.flex-next {
    display: none !important;
}

.flex-prev {
    display: none !important;
}

.flexslider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-login {
    text-decoration: none !important;
    color: #000000;
}

.flexslider {
    border: 3px solid #c9c9c9 !important;
    border-radius: 10px !important;

}

.flex-control-paging {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px !important;
}

.viber-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 1px;

}

.site-footer {
    background-color: #ffffff;
    padding: 10px 0 0px;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    position: fixed;
    left: 0px !important;
    bottom: 0px !important;
    height: 100px !important;
    width: 100% !important;
}

.right-btn {
    cursor: pointer;
}

.left-btn {
    cursor: pointer;
}

.footer-data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.footer-icons-handler {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #afafaf;
    border: 1px solid #000000
}

.copyright-text {
    margin: 0
}


@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text, .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0 !important;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.social-icons a:hover {
    color: #000000 !important;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.facebook:hover {
    background-color: #7b65f3 !important;
}

.telegram:hover {
    background-color: #7b65f3 !important;
}

.whatsapp:hover {
    background-color: #25d366 !important;
}

.slogan {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.top-slogan-handler {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.top-slogan-image {
    width: 100px;
    height: 100px;
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.segment {
    border: 2px solid #000000 !important;
    border-radius: 10px !important;
    max-width: 500px;
}

.new_user {
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-my {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.admin-profile {
    color: red;
}

.admin-crown {
    height: 30px;
    width: 30px;
}

.delete-answer {
    position: absolute;
    bottom: 3px;
    right: 0px;
}

.date-and-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.splitter {
    display: flex;
    justify-content: center;
    align-items: center;

}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map {
    border: 2px solid #000000 !important;
    border-radius: 10px !important;
    -webkit-box-shadow: -9px 11px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -9px 11px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -9px 11px 8px 0px rgba(34, 60, 80, 0.2);


}