.data-input{
  background-color: #e0e0e0 !important;
}

body {
  background-image: url(image-path("/assets/back.jpg")) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
.my-item {
  padding: 0px !important;

}
.my-logo-img{
  width: 90px !important;
  height: 40px !important;
}