
  <footer class="site-footer">
    <div class="footer-data">
      <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by Дима Красиков
      <div class="logo-container">
        <%=image_tag('whatsapp.png', class:'viber-logo') %>
        <%=image_tag('viber.png', class:'viber-logo') %>
        <%=image_tag('telega.png', class:'viber-logo') %>
      </div>
    </div>
    <hr>

  </footer>


