
  <footer class="site-footer">
    <div class="footer-data">
      <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by Дима Красиков
      <div class="logo-container">
        <a href="https://web.telegram.org/k/"><%=image_tag('whatsapp.png', class:'viber-logo') %></a>
        <a href="https://web.telegram.org/k/"><%=image_tag('telega.png', class:'viber-logo') %></a>
        <a href="https://web.telegram.org/k/"><%=image_tag('viber.png', class:'viber-logo') %></a>



      </div>
    </div>
    <hr>

  </footer>


